@font-face{
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-medium.ttf');
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy';
}

@keyframes grovBtm{
    0%{
        transform:scale(1,1);
    }
    25%{
        transform:scale(1,1);
    }
    50%{
        transform:scale(1,1);
    }
    75%{
        transform:scale(1.5,1.5);
    }
    100%{
        transform:scale(1,1);
    }
}

button{
    border: none;
    border-radius: 5px;
    font-size: 20px;
    animation: grovBtm 2s infinite;
}


header{
    background-color:#2c2c54;
    width: 100%;
    height: 620px;
}
.containerHeader{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;

}
.textHeader{
    display: flex;
    justify-content:space-around;
        padding: 20px;
}
.containerHeader .textHeader a{
    color: white;
    padding-left: 20px;
    font-size: 20px;
    text-decoration: none;
}
.imgHeader img{
    padding-left: 20px;
}
.mainTextHeader{
    color: white;
    font-size: 56px;
    margin-left: 60px;
}
.mainTextHeader2{
    color: white;
    font-size: 23px;
    margin-left: 60px;
}
.buttonHeader{
    width: 250px;
    height: 45px;
    margin-left: 60px;
    background-color: #686de0 ;
}
.mainTop{
    width: 100%;
    height: 750px;
    background-color: #686de0;
}
.mainTextTop{
    margin-left: 60px;
    padding-top: 40px;
    font-size: 35px;
    color: white;
}
.imgMainTop{
    width: 1400px;
    margin-top: 30px;
    height: 600px;
    margin: auto;
    background-color: #2c2c54;
    align-content: center;
    border-radius: 20px;
    border-color: white;
    border: 20px white;
    box-shadow: 2px 2px 10px 0px white;
}
.imgMainTop img{
    margin-left: 220px;
    width: 1000px;
}
.mainTopButton{
    width: 520px;
    height: 45px;
    margin-left: 475px;
    margin-top: 10px;
    background-color:#686de0;
}
.main_main{
    width: 100%;
    height: 1500px;
    background-color:#2c2c54;
}
.textMainMain{
color: white;
font-size: 40px;
padding: 20px;
margin-left: 1400px;
}
.imgMain{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}
.buttonMain{
    width: 220px;
    height: 40px;
    background-color: #686de0;
    margin-left: 60px;
    margin-top: 20px;
}
.block{
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0px white;
    padding: 40px;
}
.spisok a{
color: white;
font-size: 18px;
margin-left: 1675px;
}
.news{
    text-align: center;
    font-size: 36px;
    color: white;
    margin-top: 60px;
}
.read{
    font-size: 18px;
    color: white;
    margin-left: 1710px;
}
.mainContent{
    margin-top: 50px;
    display: flex;
    justify-content: row;
    margin-left: 60px;
}
.imgText{
     position: relative;
    color: white;
    font-size: 26px;
}
.imgText p {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.imgText img{
    filter:brightness(70%)
}
.container1{
display: flex;
justify-content: column;
color: white;
font-size: 26px;
}
.container1 img{
margin-right: 20px;
}
.container1 a{
color: white;
font-size: 26px;
}
.container2{
color: white;
font-size: 26px;
margin-top: 20px;
margin-bottom: 20px;
}
.container2 a{
color: white;
font-size: 26px;
}
.container3{
display: flex;
justify-content: column;
color: white;
font-size: 26px;
}
.container3 img{
margin-right: 20px;
}
.container3 a{
color: white;
font-size: 26px;
}
.content{
    margin-left: 90px;
}
.mainFooter{
    width: 100%;
    height: 1050px;
    background-color:#686de0;
}
.forum{
    color: white;
    font-size: 46px;
    margin-left: 100px;
    padding: 20px;
}
.allTovar {
color: white;
font-size: 18px;
margin-left: 1700px;
}
.display1{
display: flex;
justify-content: row;
}
.display2{
display: flex;
justify-content: row;
}
.bubbleConteiner{
margin-top: 80px;
width: 1050px;
height: 350px;
background-color: #2c2c54;
margin-left: 60px;
border-radius: 20px;
}
.bubbleContent{
    display: flex;

}
.textF{
padding: 20px;
    color: white;
}
.kino{
    font-size: 30px;

}
.text{
    margin-top: 20px;
    margin-bottom: 181px;
    font-size: 19px;
}
.textF a{
    font-size: 26px;
    color: #686de0;
    text-decoration: none;
}
.miniDiv{
    width: 600px;
    height: 350px;
    background-color: #2c2c54;
    margin-left: 70px;
    margin-top: 80px;
    border-radius: 20px;
}
.newMovie{
    color: white;
    padding: 20px;
}
.movie{
    font-size: 30px;
}
.text2{
     margin-top: 20px;
    margin-bottom: 143px;
    font-size: 19px;
}
.miniDiv a{
    font-size: 26px;
    color: #686de0;
    text-decoration: none;
}
.miniDiv1{
    width: 600px;
    height: 350px;
    background-color: #2c2c54;
    margin-left: 60px;
    margin-top: 80px;
    border-radius: 20px;
}
.newMovie1{
    color: white;
    padding: 20px;
}
.movie1{
    font-size: 30px;
}
.text3{
     margin-top: 20px;
    margin-bottom: 143px;
    font-size: 19px;
}
.miniDiv1 a{
    font-size: 26px;
    color: #686de0;
    text-decoration: none;
}
.bubbleConteiner1{
margin-top: 80px;
width: 1050px;
height: 350px;
background-color: #2c2c54;
margin-left: 65px;
border-radius: 20px;
}
.bubbleContent1{
    display: flex;
}
.textG{
padding: 20px;
    color: white;
}
.kino1{
    font-size: 30px;

}
.text4{
    margin-top: 20px;
    margin-bottom: 181px;
    font-size: 19px;
}
.textG a{
    font-size: 26px;
    color: #686de0;
    text-decoration: none;
}
footer{
    width: 100%;
    height: 450px;
    background-color:#2c2c54;
}
.textFooter{
    font-size: 30px;
    color: white;
    margin-left: 36px;
    padding: 40px;
}
.email{
    width: 500px;
    height: 50px;
    margin-left: 78px;
    border-radius: 20px;
    margin-top: -30px;
}
.footerContent{
    display: flex;
    justify-content: row;
}
.subscribe{
    width: 180px;
    height: 52px;
    border-radius: 20px;
    background-color:#686de0;
    text-align: center;
    margin-top: -28px;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    margin-left: -70px;
}
.rule{
    color: gray;
    margin-left: 84px;
    margin-top: 10px;
    font-size: 14px;
}
.rule a{
    text-decoration: none;
    color:#686de0;
}


.footerBottom{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;

}
.textBottom{
    display: flex;
    justify-content:space-around;
    margin-top: 90px;
}
.footerBottom .textBottom a{
    color: white;
    padding-left: 40px;
    font-size: 20px;
    text-decoration: none;
}